
body{

	font-weight:100;
	font-family:proxima-nova,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #fff;
	/*background:url(img/body_bg.jpg) #eee;*/
	background: #81A9CC;
}

h1{
	font-size: 50px;
}
h2{

	font-size: 30px;
	color: #334C46;
}
ul{

	list-style: none;
	margin: 0px;
}

nav ul li{
	line-height: 70px;
	display: inline-block;
	float: right;
	margin-right: 30px;
}


/*basis*/
.resume{

	margin-bottom: 200px;
}
.basis-section .basis-wrapper{

	max-width: 700px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	/*top: 100px;*/
	/*color: #fff;*/
}

.basis-section .basis-wrapper p{

	font-size: 18px;
	line-height: 30px;
	margin: 10px;
}

.basis-section .basis-wrapper h1{

	margin: 0px;
	margin-bottom: 40px;
	padding-top: 50px;
}
.basis-section .basis-wrapper .strong{
	
	color: #334C46;
}

.hr{
	width: 60%;
	margin: 20px auto;
	height: 1px;
	background: rgba(0,0,0,0.24);
}

.heading-wrapper{

	text-align: center;
}

/*content*/


.wrapper{

	max-width: 1080px;
	margin: 0 auto;
}

.sub-heading{
	max-width: 60%;
	margin: 0 auto;	
	font-size: 18px;
	line-height: 30px;
}

.sub-heading a{

	display: inline-block;
	line-height: inherit;
	text-decoration: none;
	color: #F4CEA5;
}
.sub-heading a:hover{

	opacity: 0.8;
}

/*project*/
.project-section{

	background: #171f26;
	color: hsla(0,0%,100%,.8);
	overflow: hidden;
}
.project-wrapper{
	padding: 80px 0px 20px;
}
.project-section .hr{

	/*background: rgba(255,255,255,0.05);*/
}


.project-section h2{

/*	font-size: 30px;
	color: #F4CEA5;
*/}
.article-preview{

	margin: 20px auto;
	max-width: 900px;
	overflow: hidden;
	padding-bottom: 20px;
}


/*.article-preview > div{

	float: left;
	font-size: 0px;
}*/

.clearFix:after{

	content: '';
	display: block;
	clear: both;
}

.article-preview:after{

	content: '';
	display: block;
	clear: both;
}
.project-section .img-section{

	width: 35%;
	margin-bottom: 0px;
	padding-bottom: 0px;
	/*height: 100%;*/
	max-height: 300px;
	overflow: hidden;
}
.project-section .text-section{

	width: 65%;
	position: relative;
	top: 10px;
	left: 30px;
	margin-bottom: 20px;
}

.project-text-section h4 {
	font-size: 22px;
	height: 30px;
	margin-top: 20px;
	margin-bottom: 5px;
}

.project-text-section p{
	
	margin-bottom: 10px;
	letter-spacing: 1px;
	/*max-width: 90%;*/
	margin: 0 auto;	
	font-size: 18px;
	line-height: 30px;
}

.project-image-section img{
	
	margin-top: 20px;
	width:45%;
	height: 300px;
	float: left;
	border-radius: 15px;
	box-shadow: 10px 10px 5px rgba(51, 76, 70, 0.15);
    object-fit:cover;
}

.project-image-section a:nth-child(odd) img{

	margin-left:0px;
	margin-right:0px;
}

.project-image-section a:nth-child(even) img{

	margin-left:3%;
	margin-right:3%;
}


/*skill*/
.skill-section{

	background: #81A9CC;
	/*color: white;*/
	padding: 0px ;
}
.skill-wrapper{
	padding: 80px 0px 20px;
}


.card-group{

	margin: 20px auto 0px;
	max-width: 900px;
	padding:0px 80px 40px 80px;
}

.card{

	/*float: left;*/
	/*min-height: 230px;*/
	width: 100%;
	/*margin-left: 5%;
	margin-right: 5%;*/
	padding: 15px 30px 0px 0px;
	box-sizing:border-box;
	background: rgba(0,0,0,0.04);
	-webkit-animation: fadeIn 3;
	-o-animation: fadeIn 3;
	animation: fadeIn 3;
}

.card-fa{

	margin-right: 10px;
}
.card h3{
	font-size: 21px;
	/*color: #171f26;*/
	color: #334C46;
	margin: 0px;
	padding-left: 15px;
	margin-bottom: 15px;
}

.card p{
	padding: 0px 0px 10px 40px;
	font-size: 17px;
	letter-spacing: 1px;
	line-height: 1.5;
}

/*contants*/
.contants-section{
	
	background:  #171f26;
	color: hsla(0,0%,100%,.6);
	text-align: center;
	padding: 80px 0px;
}
.contants-wrapper{

	padding: 0px 0px 20px;	
}
.contants-section .hr{

	/*background: rgba(255,255,255,0.05);*/
	/*background: #334C46;*/
}

.icon-group{

	margin-top: 60px;
}

.icon-group .icon{

	display: inline-block;
	width: 80px;
	height: 80px;
	/*border: 1px solid rgba(255,255,255,0.05);*/
	margin: 40px;
	color: hsla(0,0%,100%,.6);
}
.icon-group .icon:after{

	content: '';
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.icon-group .icon i.fa:hover{
	
	color: #fff;
}


/*background image*/
.main-wrapper{

	background-image: url(../img/banner-1.jpg);
	background-color:  #1C2836;
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-ms-background-size:cover;
	-moz-background-size:cover;
	z-index: 1;
	position: relative;
	background-position: center center;
}

/*media */

/*宽小于1100,主要针对于iPad*/
@media screen and (max-width: 1100px) {
	
	/*.main-wrapper{

		background-image: url(../img/banner-1-iPad.jpg);
	}
	.card{

		min-height: 300px;
		padding-top: 15px;
	}*/


    /*padding: 0px 10px 40px 10px;*/
	.card-group{
		max-width: 95%;
		padding-left: 0px;
		padding-right: 0px;
	}
	.sub-heading {
	    max-width: 85%;
	    font-size: 18px;
	}
	.project-text-section p {
	    
	    padding: 0px 10px;
	}
	.article-preview{
		max-width: 95%;
	}

}

/* 所有的手机的横屏、竖屏*/
@media screen and (max-width:737px){
	

	.project-image-section a img:nth-child(odd),
	.project-image-section a img:nth-child(even){

		width: 90%;
		margin-left:5%;
		margin-right:5%;
	}
	/*.card-group{
		max-width: 95%;
		padding-left: 0px;
		padding-right: 0px;
	}
	.card{

		min-height: 300px;
	}
	.sub-heading{

		max-width: 80%;		
	}*/
}
/*宽小于567,主要针对于手机、横屏状况*/
@media screen and (max-width: 567px) {
	
	/*.main-wrapper{
		background-image: url(../img/banner-1-iPhone.jpg);

	}
	#banner .inner{

		max-width: 90%;
	}
	#banner .inner h1{

		padding-top: 0px;
	}
	.aboutme{
		display: none;
	}
	.skill-section{

		padding: 0px 0px;
	}
	.card-group {

	    max-width: 500px;
    	padding:0px;
    	padding-bottom: 20px;
	}
	.card{

		width: 100%;
		min-height: 210px;
	}*/
	/*奇数*/
	/*.card:nth-child(odd){
		background: rgba(0,0,0,0.08);
	}*/
	/*偶数*/
	/*.card:nth-child(even){
		background: rgba(0,0,0,0.12);
	}
	nav ul li{
		
		margin-right: 20px;

	}
	.contants-section{	
		
		padding-bottom: 20px;
	}
	.hr{

		width: 80%;
	}
	.project-section .text-section{

		top: 10px;
		left: 0px;
		padding: 0px 20px 0px;
	}
	.article-preview:nth-child(odd) .text-section{

		left: 40px;
	}
	.project-section .text-section p{	
		font-size: 14px;
	}
	.card h3{
		font-size: 17px;
	}
	.card p{
		font-size: 14px;
		line-height: 1.5;
	}
	.project-section .text-section h3{
		
		margin-bottom: 10px;
	}*/
}

/*设备的 Height >= Width，主要就是手机、iPad的竖屏状态*/
@media only screen and (orientation: portrait) {
    

	/*.article-preview .img-section{
		
		width: 100%;
		max-height: 200px;
	}
	
	nav{
		height: 50px;
	}
	nav ul li{
		line-height: 50px;
	}
	.sub-heading{

		max-width: 80%;	
		font-size: 16px;	
	}
	.article-preview .text-section{
		width: 100%;
	}*/

}

/*宽小于430,主要针对于iPhone 6 Plus 竖屏*/
@media screen and (max-width: 430px) {
	/*.card-group {

	    max-width: 370px;
	}
	#banner .inner h1{

		padding-top: 20px;
	}*/
}

/*宽小于380,主要针对于iPhone 6 竖屏*/
@media screen and (max-width: 380px) {
	/*.card-group {

	    max-width: 350px;
	}

	#banner .inner h1{
		padding-top: 10px;
	}*/
}


/*宽小于320,主要针对于iPhone 5 竖屏*/
@media screen and (max-width: 320px) {

	/*nav ul li{

		font-size: 13px;
	}
	#banner {

		height: 580px;
	}
	#banner .inner h1{
		padding-top: 0px;
	}
	#banner .inner p{

		line-height: 22px;
		font-size: 14px;
	}
	.icon-group .icon{

		margin: 20px;
	}
	.sub-heading{

		font-size: 14px;
	}
	.card-group {

	    max-width: 300px;
	}*/
	
}