
body{

	font-family: 'Open Sans', sans-serif;

}
/*nav*/
nav{
	background: rgba(0,0,0,0.2);
	/*background: gray;*/
	height: 70px;
	position: relative;
}

#banner{
	height: 750px;	
	background: rgba(0,0,0,0.2);
}

h1{

	font-size: 30px;
	/*padding-bottom: 30px;*/
}
h2{

	font-size: 24px;

}
ul{

	list-style: none;
	margin: 0px
}

nav ul li{
	line-height: 50px;
	display: inline-block;
	float: right;
	margin-top: 10px;
	margin-right: 30px;
}
nav a{
	display: inline-block;
	line-height: inherit;
	text-decoration: none;
	color: #fff;
}
/*.anchor{
	display: none;
	line-height: 0px;
}*/
.logo a{
	margin-top: 10px;
	margin-right: 30px;
}

.logo{
	padding-left: 30px;
	float: left;
	margin-top: 10px;
}
.logo img{

	border-radius:50%;
}


/*banner*/
#banner .inner{

	max-width: 600px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 100px;
	color: #fff;
}
#banner .inner p{

	line-height: 30px;
	margin: 10px;
}
#banner .inner h1{

	margin: 0px;
	margin-bottom: 40px;

}

.aboutme{
	
	display: inline-block;
	line-height: inherit;
	text-decoration: none;
	margin-top: 80px;
	border: none;
	background: #E52D76;
	color: #eee;
	font-size: 18px;
	border-radius: 10px;
	padding: 10px;
}

#banner .aboutme{

	padding: 15px 60px;
}

#banner .aboutme:hover{

	background: rgba(229, 45, 118,0.9);
	color: rgba(1,1,1,0.5);
}

#banner .inner .more{

	margin-top: 170px;
}


.hr{
	width: 60%;
	margin: 20px auto;
	height: 1px;
}

.heading-wrapper{

	text-align: center;
}

/*content*/

/*contants*/
.contants-section{
	
	/*background: #8F847F;*/
	background:  #1C2836;
	color: #fff;
	text-align: center;
	padding: 80px 0px;
}
.contants-section .hr{

	background: #334C46;
}
.wrapper{

	max-width: 1080px;
	margin: 0 auto;
}

.sub-heading{
	max-width: 80%;
	margin: 0 auto;	
	font-size: 18px;
	line-height: 30px;
}

.icon-group{

	margin-top: 60px;
}

.contants-section .icon-group .icon{

	display: inline-block;
	width: 80px;
	height: 80px;
	border:  1px solid #334C46;
	/*background: #334C46;*/
	transform: rotate(45deg);
	margin: 40px;
}

/*project*/
.project-section{

	background: #249CD5;
	color: #fff;
}
.project-section .project-wrapper{
	padding: 80px 0px 20px;
}
.project-section .hr{

	/*background: red;	*/
	background: rgba(0,0,0,0.20);
}
.project-section .img-section{

	width: 35%;
	margin-bottom: 0px;
	padding-bottom: 0px;
	height: 100%;
}

.article-preview > div{

	float: left;
	font-size: 0px;
}
.article-preview:nth-child(even){

	background-color: rgba(255,255,255,0.05);

}
.clearFix:after{

	content: '';
	display: block;
	clear: both;
}

.article-preview:after{

	content: '';
	display: block;
	clear: both;
}
.img-section img{

	width: 100%;
	height: 100%;
}

.project-section .text-section{

	width: 65%;
	position: relative;
	top: 10px;
	left: 30px;
	margin-bottom: 20px;
}

.text-section h2{
	margin-top: 10px;
	margin-bottom: 20px;
}

.text-section p{
	
	font-size: 16px;
	margin: 0px;
	margin-bottom: 10px;
	line-height: 20px;
	letter-spacing: 1px;
	max-width: 90%;

}
.text-section *{

	max-width: 95%;
}

/*skill*/
.skill-section{

/*#262149*/
/*#E26F50*/
	background: #E26F50;
	color: white;
	padding: 80px;
}


.skill-section .hr{

	/*background: red;*/background: rgba(0,0,0,0.24);
}
.card-group{

	margin: 20px;
}

.card{

	float: left;
	min-height: 300px;
	width: 50%;
	padding: 30px;
	box-sizing:border-box;
	/*border:  0.5px solid white;*/
}

.card h3{
	font-size: 24px;
	margin: 0px;
	margin-bottom: 20px;
}

.card p{

	font-size: 18px;
	letter-spacing: 1px;
}

.card:first-child{

	background: rgba(0,0,0,0.04);
}

.card:nth-child(2){
	background: rgba(0,0,0,0.08);
}

.card:nth-child(3){
	background: rgba(0,0,0,0.12);
}

.card:nth-child(4){
	background: rgba(0,0,0,0.16);
}

.card:nth-child(5){
	background: rgba(0,0,0,0.20);
}

.card:nth-child(6){
	background: rgba(0,0,0,0.24);
}

.card:nth-child(7){
	background: rgba(0,0,0,0.28);
}
.card:nth-child(8){
	background: rgba(0,0,0,0.32);
}

/*background image*/
.main-wrapper{

	background: #444 url(../img/banner.jpg);
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	position: relative;
	background-position: center center;
}


/*宽小于800*/
@media screen and (max-width: 760px) {
	
	.main-wrapper{
        /*background-size: contain;*/
	}
	#banner .inner{

		max-width: 90%;
	}
	.skill-section{

		padding: 40px 0px;
	}
	.card{

		width: 100%;
	}

	nav ul li{
		
		margin-right: 20px;

	}
	.contants-section{	
		
		padding-bottom: 20px;
	}
	.hr{

		width: 80%;
	}
	.project-section .text-section{

		top: 10px;
		left: 20px;
	}
	.project-section .text-section p{	
		font-size: 13px;
	}
	.text-section h2{
		
		margin-bottom: 10px;
	}
}

